@model Web.ViewModels.ItemFormViewModel

@{
    /**/

    ViewBag.Title = Model.Nome;
}

<h2>@Model.Nome</h2>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="background-color:transparent!important; border:none!important">
                <form method="post" class="form-horizontal" action="~/Item/Save" id="frmSave">

                    @Html.ValidationSummary(true, "Please fix the following errors.")
                    <div class="form-group">
                        @Html.LabelFor(m => m.Nome)
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @id = "hdNome" })
                        @Html.ValidationMessageFor(m => m.Nome)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Categoria)
                        @Html.TextBoxFor(m => m.Categoria, new { @class = "form-control", @id = "hdCategoria" })
                        @Html.ValidationMessageFor(m => m.Categoria)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Data)
                        @Html.TextBoxFor(m => m.Data,
                                                        new
                                                        {
                                                            @id = "Calendario",
                                                            @class = "form-control data datepicker",
                                                            @placeholder = "Data",
                                                            @maxlength = "10",
                                                            @required = "required"
                                                        })
                        @Html.ValidationMessageFor(m => m.Data)
                    </div>

                    @Html.HiddenFor(m => m.Id)
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    @Html.ActionLink("Cancelar", "Index", "Item", null, new { @class = "btn btn-primary" })
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
   
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/inputMask")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/boot3DatePicker")

    <script type="text/javascript">
        $(document).ready(function () {

            $('#Calendario').datepicker({
                autoclose: true,
                todayBtn: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                days: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                daysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                language: 'pt-BR',
                minDate: 0,
            });

            $('.datepicker').datepicker('setDate', new Date());

            $('#Calendario').mask('99/99/9999');

            $('#frmSave').on('submit', function (event) {

                event.preventDefault();

                $.ajax({
                    type: "POST",
                    url: '/Item/Save',
                    data: $('#frmSave').serialize(),
                    success: function (response) {
                        if (response.result == "Fail") {
                            toastr.error(response.msg, "Cadastro de Item");
                        } else {

                            toastr.success(response.msg, "Cadastro de Item");

                            var interval_ = setInterval(function () {
                                clearInterval(interval_);
                                window.location = response.url;
                            }, 3000);
                        }
                    }
                })
            });

            //validation
            $("#frmSave").validate();
            $('#hdNome').attr("data-msg", "Informe o nome do item.");

            $('#hdNome').on("blur", function () {
                FieldValidate('hdNome', '/Item/NomeValidator', { Nome: $('#hdNome').val() }, "Validação de Dados");
            });

        });
    </script>
}